* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../media/background.jpg);
}